


<h1>Eat-Da-Vegan-Burger!</h1>
<br>
<div class="row">
<div class="col-6">
  <h2>Burgers created!</h2>
  
  {{#each burgers}}
  {{#unless this.devoured}}
  <div>
    <form action="/api/burgers/{{this.id}}" method="POST">
    {{this.burger_name}}
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">Devour it!</button>
  </form>
  </div>
  {{/unless}}
  {{/each}}
</ul>
</div>

<div class="col-6">
<h2>Burgers devoured!</h2>

  {{#each burgers}}
  {{#if this.devoured}}
  <div class="burgerDevoured">
    {{this.burger_name}}
  </div>
  {{/if}}
  {{/each}}
</div>
</div>


<form action="/api/burgers" method="POST">

  <div class="form-group">
    <textarea type="text" id="bu" name="burger_name"></textarea>
  </div>

  <button type="button" class="btn btn-primary">Submit</button>
  <h2>Add a burger you want to eat then click "Submit" button</h2>
</form>